.overlay {
  /*this is a white overlay that is used to block out the rest of the screen but is semi transparent */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #282c34;
  /*this is the opacity of the overlay*/
  opacity: 0.65;
  /*this is the z-index of the overlay*/
  z-index: 10;
   

}

body {
  background-color: rgb(40, 40, 40);
}

.background_body {
  background-image: url("https://dmarket.com/blog/best-dota2-wallpapers/jager1_hu1b4a36ef01c87d5ebc4581a2b5b7191b_364471_1920x1080_resize_q75_lanczos.jpg");
  /* background-image: url("https://images8.alphacoders.com/987/thumb-1920-987730.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: absolute;
  opacity: 0.17;
  filter: blur(5px);

}

.becomeabooster {
  text-align: right;  
  padding-right: 10px;


  

}
.logo {
  padding-left: 10%;
}
 
.header {
  /*this is a header  component that should be used for redirection to main page and display the logo in the center of it
   to the left to be a small logo when pressed to go to main page and to the  right to be a button to go to the login page
    in the form of a grid
   */
  /* make a grid and display 3 items*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo header-button";
  grid-gap: 10px;


  background-color: rgb(40,38,81);
  color: white;
  padding: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-bottom: 4px solid  rgb(24, 22, 47);
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 1;
}


.sidebar {
  height: 100%;
  /* float: left; */
  position: fixed;
  left: 0;
  top: 80px;

  padding: 10px;
  width: 25px;
  background-color: rgb(40,38,81);
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;

  display: grid;
  grid-template-rows: 50px 50px;

  /* add a border and shadow to the right side of the sidebar */
  border-right: 4px solid rgb(24, 22, 47);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  
}

.sidebarimg {
  width: 25px;
  height: 25px;
}

.sidebar-item:hover {
  /* make it bigger and smaller again */
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;

}

.sidebarimg-selected {
  /* outline green */
  transform: scale(1.6);
  
}

.main-content {
  /* display in a grid pattern from left to right until the page is filled and from top to bottom */
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "sidebar-left main-content-left main-content-right" "sidebar-right main-content-left main-content-right";
  background-color: #282c34;
  color: white;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center; */
  display: grid;
  
  /*  grid-template-columns: repeat(for however many there can fit on the page); */
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  padding-left: 50px;
  padding-top: 80px;
}

.App {
  overflow: hidden;
  /* remove the scroll bar from the right side of the page */
}

/* hide scrollbar but allow scrolling */
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.card {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "picture, text, buttons";
  background-color: #282c34;
  color: white;
  padding: 10px;
  align-items: flex-end; /* aici era buba de nu se puneau botoanele */
}


.overlaydata {
  /* center this div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282c34;
  color: white;
  padding: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* make it a grid of rows */
  display: grid;
  grid-template-columns: 1fr;
  /* with 50 px in between them */
  grid-gap: 50px;
  

}

.landingpage_transition {
  
}


.landingpage {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #201d52, #302f50, #070444);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite; 
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

/* https://www.wallpapers13.com/wp-content/uploads/2017/06/Dota-2-game-characters-Phantom-Assassin-Arcana-HD-Wallpaper-1920x1200-1920x1080.jpg */
.landingpageBackground {
  /* put it as a background behind landingpage and show it a bit blurry */
  background-image: url("https://i.imgur.com/IKGSNRe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  opacity: 0.27;
  width: 100vw;
  height: 100vh;


}

.landingpage_elements{
  /* center div */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b4b4b4;
  padding: 10px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* make it look like a card */
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: "picture, text, buttons";
  background-color: rgb(40,38,81);
  color: white;
  padding: 10px;
  align-items: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  
}

.title_landing_page {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  
}

.underline {
  width: 100%;
  height: 2px;
  background-color: rgb(1,170,193);

}

.diagonal_separator {
  width: 2px;
  height: 100%;
  background-color: rgb(1,170,193);
}

.description_landing_page {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;

  color: #d0d0d0;
  font-size: smaller;
  
}

.supported_games {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "title" "game1" "game2";
  /* get them closer */
  text-align: left;
  color: #9b9999;
  font-size: smaller;
  
}

.game_iconname_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  align-items: center;
  justify-content: center;
}

.icon_close_to_name {
  text-align: right;
}

.game_name {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-align: left;
  padding-left: 10px;
  justify-content: center;
  align-items: center;

  color: #d0d0d0;
  font-size: smaller;
}


.csgo-content {
  display : none;
}


.logoimg {
  width: 100%;
  height: 100%;
  min-width: 30px;
  max-width: 200px;
  
  object-fit: contain;

}

.logoimg:hover {
  cursor: pointer;
}



