.become_a_booster_root {
    display: none;
}
.become_a_booster_page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #233454;    
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    z-index: 1;
    /* width: 60%;
    height: 65%; */
    
    overflow: hidden;

    
}

.become_a_booster_bg {
    position: absolute;
    top: 0;
    left: 60px;
    width: 100%;
    height: 100%;
    background-color: #282651;
    opacity: 0.7;
    z-index: 0;
}

.become_a_booster_title {
    font-size: 16px;
    color: #ebebeb;
    text-align: center;
}


.textfield_modern {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 30px;    
}



.become_a_booster_information {
    font-size: 14px;
    color: #b5b5b5;
    text-align: center;
}

.information_form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}

.become_a_booster_panel {
    display: grid;
    grid-template-columns: 1fr 0 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
}